<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Admin</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #e72477;">
            <a class="navbar-brand" href="#">
            <img src="/static/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
            Game Admin
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                    <a class="nav-link" href="#">Info</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Create</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Update</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br> -->

{% extends "admin.html" %}
{% block content %}
<div class="row">
    <div class="col-sm">
        <div class="card shadow mb-2">
                <div class="card-header py-3">
                    <h3 class="m-0 text-primary">Games</h3>
                    <!-- <small>3 days ago</small> -->
                </div>
            <div class="card-body" id="games">
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="row">
            <div class="col-sm">
                <div class="card shadow mb-2">
                    <div class="card-header py-3">
                        <h3 class="m-0 text-primary">Info</h3>
                        <!-- <small>3 days ago</small> -->
                    </div>
                    <div class="card-body">
                        <h5>Name</h5>
                        <p id="name"> </p>
                        <h5>Description</h5>
                        <p id="description"> </p>
                        <h5>Questions</h5>
                        <div id="questions"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
        </div>
    </div>
</div>
</div>
{% raw %}
<script id="games-template" type="text/x-handlebars-template">
    <div class="card mb-2 clickable" id={{id}}>
        <div class="card-header py-3">
            <h5 class="m-0 text-primary">{{name}}</h5>
              <!-- <small>3 days ago</small> -->
        </div>
        <div class="card-body">
                {{description}}
        </div>
    </div>
</script>
<script id="qa-template" type="text/x-handlebars-template">
    <div class="card mb-2">
        <div class="card-header">
            {{question}}
        </div>
        <ul class="list-group list-group-flush">
            {{#each answers}}
            {{#if this.correct}}
            <li class="list-group-item text-success">{{this.answer}}</li>
            {{else}}
            <li class="list-group-item">{{this.answer}}</li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</script>
    <script src="/static/js/info.js"></script>
{% endraw %}
{% endblock %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/md/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/js/admin.js"></script>
</body>
</html> -->