<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Immersive Admin</title>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Immersive Admin</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/create">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Update</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm">
                <div class="card shadow mb-2">
                    <div class="card-header py-3">
                        <h3 class="m-0 text-primary">Games</h3>
                        <!-- <small>3 days ago</small> -->
                    </div>
                    <div class="card-body" id="games">
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm">
                        <div class="card shadow mb-2">
                            <div class="card-header py-3">
                                <h3 class="m-0 text-primary">Info</h3>
                                <!-- <small>3 days ago</small> -->
                            </div>
                            <div class="card-body">
                                <h5>Name</h5>
                                <p id="name"> </p>
                                <h5>Description</h5>
                                <p id="description"> </p>
                                <h5>Questions</h5>
                                <div id="questions"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm"></div>
                </div>
            </div>
        </div>
    </div>
    {% raw %}
    <script id="games-template" type="text/x-handlebars-template">
        <div class="card mb-2 clickable" id={{id}}>
        <div class="card-header py-3">
            <h5 class="m-0 text-primary">{{name}}</h5>
              <!-- <small>3 days ago</small> -->
        </div>
        <div class="card-body">
                {{description}}
        </div>
    </div>
</script>
    <script id="qa-template" type="text/x-handlebars-template">
        <div class="card mb-2">
        <div class="card-header">
            {{question}}
        </div>
        <ul class="list-group list-group-flush">
            {{#each answers}}
            {{#if this.correct}}
            <li class="list-group-item text-success">{{this.answer}}</li>
            {{else}}
            <li class="list-group-item">{{this.answer}}</li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</script>
    {% endraw %}
    </div>
    <script src="/static/dist/admin.js"></script>

</body>

</html>