<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
  <title>a game.</title>
</head>

<body>
  <!-- <img src="/static/assets/immersive_outline_plain.svg" width="1000px"/> -->
  <div id="gameName">
    <p>{{name}}</p>
  </div>
  <div id="gameDescription">
    <p>{{description}}</p>
  </div>
  <div id="tapToContinue">
    <p> Tap to Continue! </p>
  </div>
  <div id="container">

  </div>
  <div id="next">
    <p>Next</p>
  </div>
  {% raw %}
  <script id="question-template" type="text/x-handlebars-template">
    <div class="question" id=q{{id}}>
        <p>{{question}}</p>
    </div>
  </script>
  <script id="answer-template" type="text/x-handlebars-template">
    <div class="answer button" id={{id}}>
        <p>{{answer}}</p>
    </div>
  </script>
  <script id="complete-template" type="text/x-handlebars-template">
      <div class="completed">
          {{score}}
      </div>
      <div id="dialog">
        {{explaination}}
      </div>
  </script>
  <script id="explaination-template" type="text/x-handlebars-template">
    <div id="explaination">
      {{explaination}}
    </div>
  </script>

  {% endraw %}

  <script src="/static/dist/app.js"></script>
</body>

</html>