<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
  <title>a game.</title>
</head>

<body>
  <div id="gameName">
    <h1>{{name}}</h1>
  </div>
  <div id="start">
    <h1>START</h1>
  </div>
  <div id="container">

  </div>
  <div id="next">
    <h2>Next</h2>
  </div>
  {% raw %}
  <script id="question-template" type="text/x-handlebars-template">
    <div class="question" id=q{{id}}>
        <h2>{{question}}</h2>
    </div>
  </script>
  <script id="answer-template" type="text/x-handlebars-template">
    <div class="answer button" id={{id}}>
        <h3>{{answer}}</h3>
        <p>{{explain}}</p>
    </div>
  </script>
  <script id="complete-template" type="text/x-handlebars-template">
    <div class="completed">
        {{score}}
    </div>
  </script>
  {% endraw %}

  <script src="/static/dist/app.js"></script>
</body>

</html>